In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop({'EIN','NAME','CLASSIFICATION','ASK_AMT'}, axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,IS_SUCCESSFUL
0,T10,Independent,ProductDev,Association,1,0,N,1
1,T3,Independent,Preservation,Co-operative,1,1-9999,N,1
2,T5,CompanySponsored,ProductDev,Association,1,0,N,0
3,T3,CompanySponsored,Preservation,Trust,1,10000-24999,N,1
4,T3,Independent,Heathcare,Trust,1,100000-499999,N,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE          17
AFFILIATION                6
USE_CASE                   5
ORGANIZATION               4
STATUS                     2
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
IS_SUCCESSFUL              2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_df = application_df['AFFILIATION'].value_counts()
app_df

Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `affiliation_to_replace`
affiliation_types_to_replace = list(app_df[app_df<300].index)
affiliation_types_to_replace

['Family/Parent', 'National', 'Regional', 'Other']

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
affiliation_types_to_replace = list(app_df[app_df<300].index)
affiliation_types_to_replace

# Replace in dataframe
for app in affiliation_types_to_replace:
    application_df['USE_CASE'] = application_df['USE_CASE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['USE_CASE'].value_counts()

Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: USE_CASE, dtype: int64

In [7]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [8]:
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=46)

C:\Users\Owner\AppData\Local\Temp\ipykernel_34084\522797216.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(["IS_SUCCESSFUL"],1).values

In [9]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [10]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features =len(X_train[0])
hidden_nodes_layer1 = 9
hidden_nodes_layer2 = 18

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 9)                 405

 dense_1 (Dense)             (None, 18)                180

 dense_2 (Dense)             (None, 1)                 19

=================================================================
Total params: 604
Trainable params: 604
Non-trainable params: 0
_________________________________________________________________

In [11]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [12]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.6067 - accuracy: 0.6999
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5720 - accuracy: 0.7234
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5687 - accuracy: 0.7248
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5676 - accuracy: 0.7265
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5667 - accuracy: 0.7264
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5663 - accuracy: 0.7262
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5654 - accuracy: 0.7254
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5654 - accuracy: 0.7288
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5654 - accuracy: 0.7269
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5650 - accuracy: 0.7287
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5650 - accuracy: 0.7282
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5648 - accuracy: 0.7279
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5644 - accuracy: 0.7271
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5642 - accuracy: 0.7287
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5642 - accuracy: 0.7283
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5639 - accuracy: 0.7288
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5643 - accuracy: 0.7282
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5641 - accuracy: 0.7275
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5638 - accuracy: 0.7283
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5635 - accuracy: 0.7281
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5635 - accuracy: 0.7286
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5635 - accuracy: 0.7299
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5635 - accuracy: 0.7283
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5634 - accuracy: 0.7281
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5631 - accuracy: 0.7282
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5631 - accuracy: 0.7296
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5628 - accuracy: 0.7293
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5631 - accuracy: 0.7280
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5625 - accuracy: 0.7294
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5629 - accuracy: 0.7289
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5629 - accuracy: 0.7293
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5625 - accuracy: 0.7294
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5627 - accuracy: 0.7288
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5628 - accuracy: 0.7285
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5627 - accuracy: 0.7287
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5623 - accuracy: 0.7285
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5627 - accuracy: 0.7281
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5627 - accuracy: 0.7289
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5624 - accuracy: 0.7289
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5622 - accuracy: 0.7290
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5621 - accuracy: 0.7310
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5621 - accuracy: 0.7292
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5621 - accuracy: 0.7291
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5621 - accuracy: 0.7280
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5621 - accuracy: 0.7294
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5620 - accuracy: 0.7297
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5620 - accuracy: 0.7294
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5618 - accuracy: 0.7307
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5620 - accuracy: 0.7300
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5618 - accuracy: 0.7297
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5618 - accuracy: 0.7300
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5618 - accuracy: 0.7297
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5617 - accuracy: 0.7305
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5617 - accuracy: 0.7308
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5616 - accuracy: 0.7289
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5617 - accuracy: 0.7303
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5615 - accuracy: 0.7292
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5613 - accuracy: 0.7315
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5615 - accuracy: 0.7298
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5617 - accuracy: 0.7297
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5612 - accuracy: 0.7297
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5610 - accuracy: 0.7309
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5611 - accuracy: 0.7300
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5613 - accuracy: 0.7298
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5611 - accuracy: 0.7304
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5612 - accuracy: 0.7300
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5610 - accuracy: 0.7288
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5609 - accuracy: 0.7296
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5610 - accuracy: 0.7293
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5610 - accuracy: 0.7311
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5612 - accuracy: 0.7292
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5612 - accuracy: 0.7302
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5608 - accuracy: 0.7311
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5610 - accuracy: 0.7294
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5607 - accuracy: 0.7295
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5608 - accuracy: 0.7298
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5607 - accuracy: 0.7302
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5609 - accuracy: 0.7303
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5608 - accuracy: 0.7313
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5611 - accuracy: 0.7297
Epoch 81/100

804/804 [==============================] - 2s 2ms/step - loss: 0.5608 - accuracy: 0.7298
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5608 - accuracy: 0.7297
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5606 - accuracy: 0.7301
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5610 - accuracy: 0.7292
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5608 - accuracy: 0.7297
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5610 - accuracy: 0.7308
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5604 - accuracy: 0.7297
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5609 - accuracy: 0.7305
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5608 - accuracy: 0.7290
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5608 - accuracy: 0.7292
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5606 - accuracy: 0.7312
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5606 - accuracy: 0.7306
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5602 - accuracy: 0.7316
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5605 - accuracy: 0.7292
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5605 - accuracy: 0.7296
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5604 - accuracy: 0.7312
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5605 - accuracy: 0.7315
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5603 - accuracy: 0.7303
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5606 - accuracy: 0.7304
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5604 - accuracy: 0.7326

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5 file

nn.save('Model/AlphabetSoupCharity_Optimization.h5')